:root {
    --color-primary: #6495ED;
    --color-alt: #0e0e0e;
}

html {
    font-size: 14px;
    background-color: var(--color-alt);
    color: white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--color-alt);
    color: white;
}

footer {
    text-align: center;
    font-size: x-small;
    color: white;
}